albumentations
comet_ml
coremltools
Flask
GitPython
GitPython
ipython
matplotlib
mss
nncf
numpy
onnx
onnxruntime
onnxslim
opencv_contrib_python
opencv_python
openvino
paddle
pafy
pandas
pillow>=11.3.0
psutil
pycocotools
PyYAML
PyYAML
requests>=2.32.4
scikit_learn
scipy
seaborn
setuptools
tensorflow
tensorflowjs
tensorrt
tflite_runtime
tflite_support
torch>=2.7.1-rc1
torchvision
tqdm
tritonclient
ultralytics
ultralytics_thop
x2paddle
