albumentations
comet_ml
coremltools
Flask
GitPython
GitPython
ipython
matplotlib
mss
nncf
numpy
onnx
onnxruntime
onnxslim
opencv_contrib_python
opencv_python
openvino
paddle
pafy
pandas
pillow
psutil
pycocotools
PyYAML
PyYAML
requests
scikit_learn
scipy
seaborn
setuptools
tensorflow
tensorflowjs
tensorrt
tflite_runtime
tflite_support
torch
torchvision
tqdm
tritonclient
ultralytics
ultralytics_thop
x2paddle
