albumentations==2.0.7
comet_ml==3.49.10
coremltools==8.3.0
Flask==3.1.1
GitPython==3.1.44
GitPython==3.1.44
ipython==8.12.3
matplotlib==3.10.3
mss==10.0.0
nncf==2.16.0
numpy==2.2.5
onnx==1.18.0
onnxruntime==1.22.0
onnxslim==0.1.53
opencv_contrib_python==4.11.0.86
opencv_python==4.11.0.86
openvino==2025.1.0
paddle==1.0.2
pafy==0.5.5
pandas==2.2.3
Pillow==11.2.1
psutil==6.1.0
pycocotools==2.0.8
PyYAML==5.4.1
PyYAML==6.0.2
Requests==2.32.3
scikit_learn==1.6.1
scipy==1.15.3
seaborn==0.13.2
setuptools==80.7.1
setuptools==59.6.0
tensorflow==2.19.0
tensorflowjs==4.22.0
tensorrt==10.11.0.33
tflite_runtime==2.14.0
tflite_support==0.4.4
torch==2.7.0
torchvision==0.22.0
tqdm==4.67.1
tritonclient==2.57.0
ultralytics==8.3.137
ultralytics_thop==2.0.14
x2paddle==1.6.0
